body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(219, 216, 201)!important;
}
.showTransitionSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#whiteBackg{
  background-color: white;
}
a {
  color: #00B7FF;
}
 
.serverNavbar li{
  border-left: solid 2px rgb(255, 255, 255); 
  padding: 5px
}
.serverNavbar li:last-child{
  border-right: solid 2px rgb(255, 255, 255); 
}  
#serNavHome {
  background: rgb(156, 61, 61);
  padding: 4px;
}
#serNavHome:hover{
  border-radius:10px;
}
#serNavbar li{
  padding: 4px;
  
}
#serNavbar li:hover{
  background: rgb(156, 61, 61);
  border-radius:10px;
  
}
#deleteIn{
  width: 220px;
}

.article-list-fullContent{
max-height: 130px;
overflow: auto;
}

@media (max-width: 992px){
  #serNavHome {
    background:#d9534f;
    padding: 4px;
  }
  .serverNavbar li{
    border-left:solid 0px;
    
  }
  .serverNavbar li:last-child{
    border-right:solid 0px;    
  }
}
 