.categoriesContainer .card img{
    width:70%
}
.categoriesContainer .card {
    width:100%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
 .categoriesContainer button,.categoriesContainer h4,.categoriesContainer h6,.categoriesContainer img{
    margin: 30px
}
.articleBox .articleBox-right img{
    max-width: 300px
}
.articleBox .articleBox-left img{
    max-width: 150px;
}
.articleBox-left{
    border: solid 1px rgb(151, 151, 158);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.articleBox-right{
    border: solid 1px rgb(151, 151, 158);
    padding: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.articleBox{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    margin-top:10px;
    max-width:560px ;    
 }
 #categoryBox{
    width:100%;
    margin: auto;
}

#articlePage.container img{
    max-width: 300px;
}
#arabicArticleButton{
    float: right;
}

 @media (min-width: 800px){
    
 #categoryBox{
     width:50%;
     margin: auto;
 }
}