.categoriesContainer .card img{
    width:50%
}
.categoriesContainer .card {
    width:50%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
 .categoriesContainer button,.categoriesContainer h4,.categoriesContainer h6,.categoriesContainer img{
    margin: 30px
}