<form method="post" class="container mt-5">
    <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary text-danger">WARNING !!! : You Have To  select the Article Category</h3>
        </label>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">Article Title</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="title" id="example-text-input">
        </div>
    </div>

      <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">Article Category</h3>
        </label>

        <select name="category" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            
            <option selected>Choose...</option>
            {{#each data}}
             <option value={{this._id}}>{{this.title}}</option>
            {{/each}}
      
        </select>

        </div>


    <label class="text-success">
        <h3 class="text-primary">Full Content:</h3>
    </label>
    <div id="whiteBackg" class="form-group has-success">

        <textarea  rows="20" class="form-control form-control-success mb-4" name="fullContent"></textarea>
    </div>

    <div class="showTransitionSection">
        <h4 class="text-danger">Show/Hide Tranlation section</h4>
         <button id="showBtn" class="btn btn-success"type="button">+/-</button>
    </div>

<div id="transitionSection">
    <label class="text-success">
        <h3 class="text-primary">Arabic:</h3>
    </label>
    <div id="whiteBackg" class="form-group has-success">

        <textarea   rows="20" class="form-control form-control-success mb-4" name="arabic"></textarea>
    </div>

    <label class="text-success">
        <h3 class="text-primary">English:</h3>
    </label>
    <div id="whiteBackg" class="form-group has-success">

        <textarea  rows="20" class="form-control form-control-success mb-4"  name="english"></textarea>
    </div>

    <label class="text-success">
        <h3 class="text-primary">amagrine:</h3>
    </label>
    <div id="whiteBackg" class="form-group has-success">

        <textarea  rows="20" class="form-control form-control-success mb-4"   name="amagrine"></textarea>
    </div>
</div>
    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">Publisher:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="publisherName" id="example-text-input">
        </div>
    </div>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">date:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="date" id="example-text-input">
        </div>
    </div>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">video:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="video" id="example-text-input">
        </div>
    </div>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">Image:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="image" id="example-text-input" value="http://pm1.narvii.com/5856/dac779189dc23ed6aad98d850ace0b397cc14c5a_hq.jpg">
        </div>
    </div>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">ArticleType:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="text" name="articleType" id="example-text-input">
        </div>
    </div>

    <div class="form-group row has-success">
        <label for="example-text-input text-info" class="col-12 col-form-label">
            <h3 class="text-primary">ORDER:</h3>
        </label>
        <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
            <input class="form-control" type="number" name="order" id="example-text-input">
        </div>
    </div>


    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="visible" id="optionsRadios1" value="true" checked>
            <h3>visible</h3>
        </label>

    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="visible" id="optionsRadios2" value="false">
            <h3>Hide</h3>
        </label>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit">

</form>