{{#each data}}
        <div >
        <a href="edit/{{this._id}}">
        <h1>Title: {{this.title}}.</h1>
        <h1>FullContent: {{this.fullContent}}.</h1></a>
       <a href="edit/delete/{{this._id}}"> <button>Delete</button> </a>

        </div>
       <hr> 
{{/each}}