<form method="POST">
    <h1>User Name</h1>
    <input type="text" name="username" placeholder="UserName">
    <h1>Image</h1>
    <input type="text" name="image" placeholder="image">
    <input type="submit" value="go">
</form>