<form  method="post">
    <h3>Are you sure you want to delete Category:<input width="4" type="text" name="title" id="example-text-input" value={{data.title}}></h3>
<div class="form-group row has-success">
    <label for="example-text-input text-info" class="col-12 col-form-label"><h3 class="text-primary">write the name of article you want to delete:</h3></label>
    <div class="col-lg-6 col-md-8 col-sm-9 col-xs-9 ">
      <input class="form-control" type="text" name="ensureTitle" id="example-text-input">
    </div>
  </div>
    <input class="btn btn-primary" type="submit" value="Submit">
 </form>   