<div class="mt-4">
    <h1 class="text-center text-primary">Welcome To 4zoro Control Panel</h1>
    <h2 class="text-center text-white">4Zoro Blog Website</h2>
    <h3 class="text-center text-danger">Server Side done by Khaled Al Kharraz</h3>
    <h5 class="text-center text-white">MongoDB-Express Js</h5>
    <h4 class="text-center ">CodeYourFuture Student</h4>
</div>