<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
          <a href="/"><li>home</li></a>
           <a href="/admin/articles/add"><li>add article</li></a>
          <a href="/admin/articles/edit"><li>edit article</li></a>
          <a href="/admin/categories/add"><li>add category</li></a>
          <a href="/admin/categories/edit"><li>edit category</li></a>

        </ul>
    
    </nav>
    {{{body}}}
  </body>
</html>
