.categorySingleCard.container {
    width:50%;
}
.categorySingleCard img{
    width:30%;
}

.categorySingleCard .card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid 2px rgb(100, 206, 68)!important;
margin-top:10px;

}
.categoriesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
h4.card-title{
    font-size:16px;
 }

 #categoryBox{
    width:80%; 
}
#categoryBox{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }


 @media (min-width: 600px){
    .categorySingleCard.container {
        width:33%;
    }
    h4.card-title{
        font-size:22px;
     }     
     #categoryBox{
        width:40%; 
    }
 }


 .categoriesContainer .card img{
    width:70%
}
.categoriesContainer .card {
    width:100%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
 .categoriesContainer button,.categoriesContainer h4,.categoriesContainer h6,.categoriesContainer img{
    margin: 30px
}
 #categoryBox{
    width:100%;
    margin: auto;
}

 @media (min-width: 800px){
    
 #categoryBox{
     width:50%;
     margin: auto;
 }
}