.categorySingleCard.container {
    width:50%;
}
.categorySingleCard img{
    width:30%;
}

.categorySingleCard .card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: solid 2px rgb(100, 206, 68)!important;
margin-top:10px;

}
.categoriesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
h4.card-title{
    font-size:16px;
 }

 #categoryBox#myCard.card div{
width:100%!important; }
#categoryBox{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }


 @media (min-width: 600px){
    .categorySingleCard.container {
        width:33%;
    }
    h4.card-title{
        font-size:22px;
     }     
 }